<!DOCTYPE html>
<html lang="en" ng-app="admin" ng-controller="MainCtrl">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon"href="{{ static_url('img/logo.ico') }}">
    <title>观云·网盘搜索·后台管理</title>
    <link rel="stylesheet" href="{{ static_url('bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('style/dashboard.css') }}">
    <script src="{{ static_url('script/angular.min.js') }}"></script>
    <script src="{{ static_url('script/jquery.min.js') }}"></script>
    <script src="{{ static_url('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('script/Chart.min.js') }}"></script>
    <style id="style-1-cropbar-clipper">
      .en-markup-crop-options {
        top: 18px !important;
        left: 50% !important;
        margin-left: -100px !important;
        width: 200px !important;
        border: 2px rgba(255,255,255,.38) solid !important;
        border-radius: 4px !important;
      }

      .en-markup-crop-options div div:first-of-type {
        margin-left: 0px !important;
      }

      .pointer {
        cursor: pointer !important;
      }

      .chart {
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/admin">网盘搜索管理</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="">Dashboard</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li ng-class="{active:module=='overlook'}"><a class="pointer" ng-click="module='overlook'" style="cursor:pointer;">总览</a></li>
            <li ng-class="{active:module=='notice'}"><a class="pointer" ng-click="module='notice'" style="cursor:pointer;">公告</a></li>
            <li ng-class="{active:module=='donate'}"><a class="pointer" ng-click="module='donate'" style="cursor:pointer;">捐赠</a></li>
            <li ng-class="{active:module=='setting'}"><a class="pointer" ng-click="module='setting'" style="cursor:pointer;">设置</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-show="module=='overlook'" ng-controller="OverlookCtrl">
          <h1 class="page-header">用户统计
            <a class="btn btn-success" style="" href="/admin/overlook/csv?csvname=user">下载CSV</a>
          </h1>
          <canvas id="user_chart" style="width:100%;height:400px;" class="chart"></canvas>
          <h1 class="page-header" style="margin-top:30px;">资源统计
            <a class="btn btn-success" style="" href="/admin/overlook/csv?csvname=source">下载CSV</a>
          </h1>
          <canvas id="source_chart" style="width:100%;height:400px;" class="chart"></canvas>
          <h1 class="page-header" style="margin-top:30px;">流量统计
            <a class="btn btn-success" style="" href="/admin/overlook/csv?csvname=traffic">下载CSV</a>
          </h1>
          <canvas id="traffic_chart" style="width:100%;height:400px;" class="chart"></canvas>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-show="module=='notice'" ng-controller="NoticeCtrl">
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-show="module=='message'" ng-controller="MessageCtrl">
          <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">全部</a></li>
            <li role="presentation"><a href="#">未阅</a></li>
            <li role="presentation"><a href="#">已阅</a></li>
          </ul>
          <table class="table table-bordered" style="margin-top:20px;">
            <tr>
              <th width="2em">标记</th>
              <th>时间</th>
              <th>发送人</th>
              <th>标题</th>
              <th>操作</th>
            </tr>
            <tr>
              <td><span class="label label-success">未阅</span></td>
              <td>2015-05-29 01:40</td>
              <td>liqueur</td>
              <td>敏感词列表</td>
              <td><a href="">详情</a></td>
            </tr>
            <tr>
              <td><span class="label label-default">已阅</span></td>
              <td>2015-05-29 01:40</td>
              <td>liqueur</td>
              <td>敏感词列表</td>
              <td><a style="cursor:pointer;">详情</a></td>
            </tr>
          </table>
          <div class="pagination pull-left">
          </div>
          <div class="opt pull-right">
            <button class="btn btn-primary">发送消息</button>
          </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-show="module=='donate'" ng-controller="DonateCtrl">
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-show="module=='setting'" ng-controller="SettingCtrl">
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-show="module=='staff'" ng-controller="StaffCtrl">
        </div>
      </div>
    </div>
  </body>
  <script>
    var app = angular.module('admin', []);

    app.config(['$interpolateProvider', function($interpolateProvider) {
      $interpolateProvider.startSymbol('{$');
      $interpolateProvider.endSymbol('$}');
    }]);

    app.controller("MainCtrl", function($scope, $http){
      $scope.module = 'overlook';
    });

    app.controller("OverlookCtrl", function($scope, $http){
      function display(){
        var user_chart = $("#user_chart").get(0).getContext("2d");
        var source_chart = $("#source_chart").get(0).getContext("2d");
        var traffic_chart = $("#traffic_chart").get(0).getContext("2d");

        $http.get('/admin/overlook/chart?chartname=user').
          success(function(ret, status, headers, config){
          var data = {
            labels: ret.ctime_list,
            datasets : [
              {
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                data: ret.count_list
              }
            ]
          }
          new Chart(user_chart).Line(data);
        });

        $http.get('/admin/overlook/chart?chartname=source').
          success(function(ret, status, headers, config){
          var data = {
            labels: ret.ctime_list,
            datasets : [
              {
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                data: ret.count_list
              }
            ]
          }
          new Chart(source_chart).Line(data);
        });

        $http.get('/admin/overlook/chart?chartname=traffic').
          success(function(ret, status, headers, config){
          var data = {
            labels: ret.ctime_list,
            datasets : [
              {
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                data: ret.count_list
              }
            ]
          }
          new Chart(traffic_chart).Line(data);
        });
      }

      $scope.$watch("module", function(newValue, oldValue){
        if(newValue == "overlook"){
          display();
        }
      });
    });

    app.controller("NoticeCtrl", function($scope, $http){
    });

    app.controller("DonateCtrl", function($scope, $http){
    });
  </script>
</html>
