<!DOCTYPE html>
<html lang="en" ng-app="result" ng-controller="MainCtrl">
  <head>
    <meta charset="UTF-8">
    <title>观云·网盘搜索</title>
    <!-- <link rel="shortcut icon"href="{{ static_url('img/logo.sm.ico') }}"> -->
    <link rel="stylesheet" href="{{ static_url('bootstrap/css/bootstrap.min.css') }}">
    <script src="{{ static_url('script/jquery.min.js') }}"></script>
    <script src="{{ static_url('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('script/angular.min.js') }}"></script>
    <script src="{{ static_url('script/angular-sanitize.min.js') }}"></script>
    <script src="{{ static_url('script/tools.js') }}"></script>
  </head>
  <style>
    html {
      position: relative;
      min-height: 100%;
    }

    body {
      margin: 0;
      overflow-x: hidden;
      margin-bottom: 150px;
    }

    .highlight {
      color: #f00;
    }

    #result-list li {
      padding-bottom: 15px;
    }

    #pagingForm .form-group {
      margin-right: 10px;
    }

    .footer {
      text-align: center;
      background-color: #fafafa;
      color: #888;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 150px;
    }
  </style>
  <body>
    <div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">联系我</h4>
          </div>
          <div class="modal-body">
            <h5><b>新浪微博</b>
              <a href="http://weibo.com/u/5540998006" target="_blank">http://weibo.com/u/5540998006</a>
            </h5>
            <h5><b>电子邮箱</b>
              liqueurize@yeah.net
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div id="indexBlock" ng-show="status=='index'" ng-controller="IndexCtrl">
      <div class="center-block clearfix" style="width:35%;padding-top:70px;" ng-show="status=='index'">
        <h3 style="color:#666">观云·网盘搜索</h3>
        <h5 class="text-muted">至今收录 {$ source_count $} 个资源</h5>
        <form ng-submit="submit(queryForm.$valid)" name="queryForm">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" type="text" ng-model="$parent.query_string"
              name="query_string" required>
              <span class="input-group-btn">
                <button class="btn btn-primary search-btn" type="submit" data-loading-text="搜索中">搜索</button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
    <a name="top"></a>
    <div id="resultBlock" ng-show="status=='result'" ng-controller="ResultCtrl">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">观云·网盘搜索</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" ng-submit="submit(queryForm.$valid)" name="queryForm">
              <div class="form-group">
                <input class="form-control" type="text" ng-model="$parent.query_string"
                name="query_string" value="{$ query_string $}" style="width:300px;" ng-trim="true" required>
              </div>
              <button type="submit" class="btn btn-primary search-btn" data-loading-text="搜索中">搜索</button>
            </form>
          </div>
        </div>
      </nav>
      <ul class="list-inline" style="padding-left:100px;padding-bottom:10px;">
        <li>
          <span class="text-muted">找到 {$ total_count $} 个结果</span>
        </li>
        <li>
          <span class="text-muted">搜索耗时 {$ cost_time $}</span>
        </li>
      </ul>
      <ul id="result-list" class="list-unstyled" style="padding-left:100px;padding-bottom:20px;">
        <li ng-repeat="item in paging.objects">
          <h4><a href="{$ item.url $}" target="_blank" ng-bind-html="item.title|safe"></a></h4>
          <span class="" style="color:#ccc">{$ item.time $}</span>
        </li>
        <li ng-show="paging.is_empty">
          <h4 style="color:#333">Σ( ° △ °|||)︴没有找到资源</h4>
          <ul>
            <li>增加关键字</li>
            <li>
              <a data-toggle="modal" data-target="#feedback" style="cursor:pointer;">反馈作者</a>
            </li>
          </ul>
        </li>
        <li>
          <form class="form-inline" ng-show="! paging.is_empty" id="pagingForm" name="pagingForm"
            ng-submit="pagingFormSubmit(pagingForm.$valid)">
            <hr>
            <div class="form-group">
              <button type="button" class="btn btn-default btn-sm" ng-disabled="paging.page == 1"
                ng-click="turnPage(1)" data-loading-text="首页" disabled="disabled">首页</button>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-default btn-sm" ng-disabled="paging.previous_page == null"
                ng-click="turnPage(paging.previous_page)" data-loading-text="上一页">上一页</button>
            </div>
            <div class="form-group">
              第 <input ng-model="$parent.paging.page" ng-trim="true" type="text" name="page" class="form-control input-sm" ng-pattern="/\d/i"
              style="width:50px;text-align:center" required> / {$ paging.page_num $} 页
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-default btn-sm" ng-disabled="paging.next_page == null"
                ng-click="turnPage(paging.next_page)" data-loading-text="下一页">下一页</button>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-default btn-sm" ng-disabled="paging.page == paging.page_num"
                ng-click="turnPage(paging.page_num)" data-loading-text="末页">末页</button>
            </div>
          </form>
        </li>
      </ul>
    </div>
    <div class="footer clearfix">
      <hr style="margin:0;">
      <ul style="width:55%;padding-top:20px;margin-left:auto;margin-right:auto;" class="list-unstyled">
        <li style="width:35%;text-align:left;float:left;">
          <div style="font-weight:bold;">简介</div>
          <span>目前观云是一个基于百度网盘资源的搜索引擎，所有信息来源于爬虫24小时从百度网盘自动抓取，仅提供资源相关信息，不存储任何资源文件。</span>
        </li>
        <li style="width:35%;text-align:left;float:left;padding-left:20px;">
          <div style="font-weight:bold;">分享</div>
          <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a><a href="#" class="bds_bdhome" data-cmd="bdhome" title="分享到百度新首页"></a><a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_mshare" data-cmd="mshare" title="分享到一键分享"></a><a href="#" class="bds_kaixin001" data-cmd="kaixin001" title="分享到开心网"></a></div>
          <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"观云网盘搜索网罗百度网盘优秀共享资源，为您提供极速便捷的搜索体验(๑•̀ㅂ•́)و✧","bdMini":"2","bdMiniList":false,"bdPic":"http://download.easyicon.net/png/1156945/72/","bdStyle":"0","bdSize":"24"},"share":{},"image":{"viewList":["tsina","weixin","sqq","tieba","bdhome","douban","qzone","tqq","renren","mshare","kaixin001"],"viewText":"","viewSize":"24"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
        </li>
        <li style="width:30%;text-align:left;float:left;">
          <ul style="margin:0;text-align:left;padding-left:20px;">
            <li><a data-toggle="modal" data-target="#feedback" style="cursor:pointer;">意见反馈</a></li>
            <li><a href="/donate">捐赠</a></li>
          </ul>
        </li>
      </div>
    </div>
  </body>
  <script>
    function btnLoading(selector, is_loading, scope){
      if(is_loading)
        $(selector).button('loading');
      else
        $(selector).button('reset');
    }

    var app = angular.module('result', ['ngSanitize']);

    app.config(['$interpolateProvider', function($interpolateProvider) {
      $interpolateProvider.startSymbol('{$');
      $interpolateProvider.endSymbol('$}');
    }]);


    app.filter('safe', function ($sce) {
      return function(input){
        return $sce.trustAsHtml(input);
      }
    });

    app.controller("MainCtrl", function($scope, $http){
      $scope.status = "index";
      $scope.query_string = "";

      $scope.query = function(page){
        btnLoading(".search-btn", true);
        $http.get(urljoin('/search', {query_string:$scope.query_string, page:page})).
          success(function(ret, status, headers, config){
          $scope.status = "result";
          $scope.cost_time = ret.cost_time;
          $scope.data_time = ret.data_time;
          $scope.total_count = ret.total_count;
          $scope.paging = ret.paging;
          btnLoading(".search-btn", false);
          window.location.href = "#top";
        }).
          error(function(ret, status, headers, config){
          btnLoading(".search-btn", false);
          window.location.href = "#top";
        });
      }
    });

    app.controller("IndexCtrl", function($scope, $http){
      $scope.submit = function(is_valid){
        if(is_valid){
          $scope.$parent.query(1);
        }
      }

      $http.get('/info').
        success(function(ret, status, headers, config){
        $scope.source_count = ret.source_count;
      }).
        error(function(ret, status, headers, config){
      });
    });

    app.controller("ResultCtrl", function($scope, $http){
      $scope.submit = function(is_valid){
        if(is_valid){
          $scope.$parent.query(1);
        }
      }

      $scope.turnPage = function(page){
        $scope.$parent.query(page);
      }

      $scope.pagingFormSubmit = function(is_valid){
        if(is_valid){
          $scope.$parent.query($scope.$parent.paging.page);
        }
      }
    });
  </script>
</html>
